*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --azul:#0077B6;
    --azulescuro: #1E376A;
    --cinza: #F5F5F5;
    --estranha: #EEE9E9;
    --preto: #000000;
    --branco: #FFFFFF;
    --poppins: "Poppins", sans-serif;
    --inter: "Inter", sans-serif;
    --geologica: "Geologica", sans-serif;
}
.container{
    max-width: 1380px ;
    margin: 0 auto;
}
body{
    font-family: var(--poppins);
}
#topo{
    min-height:400px ;
    padding: 20px 10px;
    background-image: linear-gradient(var(--azul));
}
.grid-topo{
    display: grid;
    grid-template-columns: 1fr  1fr 2fr;
}
#menu-topo{
    grid-column: 2/4;
}
#menu-topo > ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 80%;
}
#menu-topo a{
    font-size: 2rem;
    font-family: var(--geologica);
    color: var(--azulescuro);
    text-decoration: none;
    padding-bottom: 5px;
}
#menu-topo a:hover{
    color: var(--azulescuro-);
    border-bottom: 1px solid var(--azulescuro);
}
#menu-topo .atual{
    color: var(--azulescuro-);
    border-bottom: 1px solid var(--azulescuro);
}
#info{
    min-height: 955px;
    background-color: var(--cinza);
    padding: 20px 10px  ;
}
#info h1{
    font-family: var(--poppins);
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
}
.primeiro{
    display: flex;
    align-items: flex-start;
    gap: 15px;        /* espaço entre imagem e texto*/
}
.texton {
      font-size: 1.8rem;
      line-height: 1.5;
      display: block; 
      font-weight: 900;
      font-family: var(--poppins);
}
.texton h2{
    margin: 15px 0;
}
.texto{
    min-height: 1350px;
    padding: 10px 20px;
    background-color: var(--branco);
}
#texto h1{
    font-weight: 900;
    font-size: 4rem;
    text-align: center;
}
#texto h3{
    font-weight: 900;
    font-size: 2rem;
    font-family: var(--geologica);
    text-align: center;
}
.duas-imagens article{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 15px;
}
#servico{
    min-height: 1850px;
    background-color: var(--estranha);
    padding: 10px 20px;
}
#doido{
    display: block;
    margin: 15px auto;
}
#servico h1{
    text-align: center;
    font-weight: 900;
    font-size: 4rem;
}
.servicos{
    margin: 15px;
}
#estabelecimento{
    min-height: 1000px;
    padding: 10px 20px;
    background-color: var(--cinza);
}

#estabelecimento h1{
    font-weight: 900;
    font-size: 3rem;
}
.telefone article h2{
    margin-top: 20px;
  font-size: 1.5rem;
  font-weight: bold;
}
.telefone article{
    display: flex;              
  justify-content: center;    
  gap: 40px;                  
  flex-wrap: wrap; 
}
.telefone article img{
 border-radius: 50px;        
  object-fit: cover;  

}
#final{
    min-height: 830px;
    padding: 20px 10px;
    background-color: var(--azul);
}
.ultima{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.botaoarea{
    text-align: center;
}
.botao{
     display: inline-block;
  background: linear-gradient(90deg, #007bc0, #00b3ff);
  color: white;
  font-weight: bold;
  padding: 15px 30px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.botao:hover{
    background: linear-gradient(90deg, #0099e0, #00ccff);
  transform: scale(1.05);
}
#final h2{
    font-size: 2rem;
}
#final p{
    font-size: 1.5rem;
}
#agendar{
    min-height: 800px;
}
#suiba{
    min-height: 800px;
}
